<h2> Hello <%= @user.email %> </h2>

<h2> Display Media Content for the User </h2>

<% @user.sports.uniq.each do |i| %>
<%= i.name %>
<% end %>

<div>
<% @user.you_tubes.each do |i| %>
<iframe src=<%=i.video_url%>></iframe>
<% end %>
</div>

<div class="news" >
<%=  @news["articles"][0]["title"] %>
<%=  @news["articles"][0]["description"] %>
<%=  @news["articles"][0]["url"] %>

<%=  @news["articles"][1]["title"] %>
<%=  @news["articles"][1]["description"] %>
<%=  @news["articles"][1]["url"] %>

<%=  @news["articles"][2]["title"] %>
<%=  @news["articles"][2]["description"] %>
<%=  @news["articles"][2]["url"] %>

<%=  @news["articles"][3]["title"] %>
<%=  @news["articles"][3]["description"] %>
<%=  @news["articles"][3]["url"] %>
</div>
