
<div class = 'user'>
    <h2>Welcome <%= @user.email %> </h2>
</div>

 <%= link_to "Log out", logout_path, method: :delete %>

<div class = 'user_content'>
    <h2> Current Sports Selection</h2>
</div>


<div class= "user_content_name">
    <% @user.sports.uniq.each do |i| %>
    <div class = "user_content_sport_name">
        <%= i.name %>
    </div>
    <% end %>
</div>


<div class= "user_videos">
    <% @user.you_tubes.each do |i| %>
    <div class = "user_video">
        <iframe src = <%= i.video_url %> >
        </iframe>
        <p>Your video</p>
    </div>
    <% end %>
</div>

<div class="news" >
    <%=  @news["articles"][0]["title"] %>
    <%=  @news["articles"][0]["description"] %>
    <%=  @news["articles"][0]["url"] %>

    <%=  @news["articles"][1]["title"] %>
    <%=  @news["articles"][1]["description"] %>
    <%=  @news["articles"][1]["url"] %>

    <%=  @news["articles"][2]["title"] %>
    <%=  @news["articles"][2]["description"] %>
    <%=  @news["articles"][2]["url"] %>

    <%=  @news["articles"][3]["title"] %>
    <%=  @news["articles"][3]["description"] %>
    <%=  @news["articles"][3]["url"] %>


<div class="news" style="color: white; background: #e6e6e6, opacity; margin-left: 10%; margin-right: 10%;">
  <h2 style="text-align: center"> News </h2>
  <% for i in 0..9 do %>
    <div style="padding-left: 5%; padding-right: 5%;">
      <%=  @news["articles"][i]["title"] %>
      <%=  @news["articles"][i]["description"] %>
      <a href="<%= @news["articles"][i]["url"]%>">Link</a>
    </div>
    <br>
<% end %>

</div>
