

<nav class="navbar navbar-light bg-light sticky">
  <a class="navbar-brand" href="#">
    SportsHub
  </a>

      <span id="wel-head"style="padding: 10px 0% 0% 70%;">Welcome <%= @user.email %> -
        <%= Date.today %>
        <%= link_to "Log out", logout_path, method: :delete %>
        </span>
</nav>


  <div id="time">
  </div>

<div class='user_content'>
    <h1> SportsHub </h1>
    <span> <%= link_to "Update", "/update_sport"  %></span>
</div>


<div class="user_content_name">
    <% @user.sports.uniq.each do |i| %>
    <div class="user_content_sport_name">
      <a style="font-size: 14px;" href=#<%= i.id %>><%= i.name %></a>
    </div>
    <% end %>
</div>

<div class="user_videos">
    <% @user.you_tubes.each do |i| %>
    <div id=<%= i.sports_id %> class="user_video">
        <iframe src=<%= i.video_url %>>
        </iframe>
        <p class="video-title"> <%= i.vid_date %> - <%= i.title %></p>
    </div>
    <% end %>
</div>

<br>


<div id="theNews" class="news" style="color: white; background: #e6e6e6, opacity; margin-left: 6%; margin-right: 5%;">
  <h3 style="text-align: center"> In the News Today</h3>
  <% for i in 0..9 do %>
    <div style="padding-left: 5%; padding-right: 5%;">
      <h4 style="text-decoration: underline;"><%=  @news["articles"][i]["title"] %></h4>
      <%=  @news["articles"][i]["description"] %>
      <a style="color: #3884ff;"href="<%= @news["articles"][i]["url"]%>" target="_blank">Full Story</a>
    </div>
    <br>
<% end %>
</div>
