
    <p style="text-align: center; float: right; padding-right: 5%; "><%= link_to "Log out", logout_path, method: :delete %></p>

<div class = 'user'>
    <h2>Welcome <%= @user.email %> </h2>
    <p style="text-align: center; color: white" > Todays Date: <%= Date.today%> </p>
    <a style="text-align: center" href="#theNews"><p style="text-align: center;"> The News Today </p></a>
</div>



<div class='user_content'>
    <h1> Sports You're Following </h1>
    <span> <%= link_to "Update", "/update_sport"  %></span>
</div>


<div class="user_content_name">
    <% @user.sports.uniq.each do |i| %>
    <div class="user_content_sport_name">
      <a href=#<%= i.id %>><%= i.name %></a>
    </div>
    <% end %>
</div>

<div class="user_videos">
    <% @user.you_tubes.each do |i| %>
    <div id=<%= i.sports_id %> class="user_video">
        <iframe src=<%= i.video_url %>>
        </iframe>
        <p class="video-title"> <%= i.vid_date %> - <%= i.title %></p>
    </div>
    <% end %>
</div>

<br>

<div id="theNews"class="news" style="color: white; background: #e6e6e6, opacity; margin-left: 10%; margin-right: 10%;">
  <h2 style="text-align: center"> In the News Today</h2>
  <% for i in 0..4 do %>
    <div style="padding-left: 5%; padding-right: 5%;">
      <h3 style="text-decoration: underline;"><%=  @news["articles"][i]["title"] %></h3>
      <%=  @news["articles"][i]["description"] %>
      <a style="color: #3884ff;"href="<%= @news["articles"][i]["url"]%>" target="_blank">Full Story</a>
    </div>
    <br>
<% end %>

</div>
